@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(10px);
  }
  
  .hamburger-bottom {
    transform: translateY(20px);
  }
  
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(7px) translate(7px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(7px) translate(-7px);
  }


/* About Background */
#about {
  background-image: linear-gradient(rgb(254,252,232), rgba(254,252,232,0.6), rgb(254,252,232)),url(../images/about.webp);
}

/* Gallery */
.gallery-item-main {
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery-item-main img:hover {
  -webkit-transform: none;
  transform: none;
}

/* Heading Decoration */
.heading-decoration::before {
  content: "";
  width: 1.5em;
  border-bottom: 1px solid #eab308;
  display: inline-block;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  margin: 0 1em;
}